  
  @media only screen and (max-width: 1250px) {
    .animals {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 950px) {
    .animals {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 600px) {
    .animals {
      clear:both;
      grid-template-columns: repeat(1, 1fr);
    }
    .animal-card {
      margin: 0;
    }
  }