#heading {
  font-size: 190%;
  color: royalblue;
  margin-left: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  position: relative;
  margin: 0;
  width: 100%;
  height: 200px;
}
#search {
  margin-left: 5%;
  width: 50%;
}
.margin-left {
  margin-left: 20%;
  float: right;
}

footer {
  margin-top: 20%;
}

.footer-copyright {
  margin-bottom: 0;
  margin-right: 5%;
  float: right;
}
.footer-icon {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  mix-blend-mode: multiply;
}

.italic {
  font-style: italic;
}
