html {
  overflow-x: hidden;
}

#heading {
  font-size: 350%;
  background: linear-gradient(#db2727, #a1a9fc);
  margin-left: 5%;
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#icons {
  margin-left: 3%;
}
#content {
  min-height: calc(64vh); 
}

#login-card {
  margin: auto;
  margin-top: 20px;
  height: 400px;
  width: 50%;
  clear: both;
}

#login-card label {
  margin-top: 5px;
}
#login-card input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#login-card button {
  float: right;
  margin: 15px;
}
.nav-item .dropdown-menu {
  background: #646363;
}

.nav-item .dropdown-item {
  color: #ffffff;
}

.nav-item .dropdown-item:hover {
  background: #41d3ff67;
}

nav {
  position: relative;
  margin-top: -10px;
  width: 100%;
  min-height: 200px;
}
#search {
  margin-left: 5%;
  width: 50%;
}

.margin-left {
  margin-left: 20%;
  float: right;
}

footer {
  clear: both;
  margin-bottom: 0;
 
  position: sticky;
}

.footer-copyright {
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 0;
  float: right;
}
.footer-icon {
  width: 60px;
  height: 60px;
  mix-blend-mode: multiply;
}

#phrase {
  background: linear-gradient(#2e3fff, #93ffff);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.italic {
  margin-right: 5%;
  font-style: italic;
}
.animals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}

.animal-card {
  clear:both;
  margin:auto;
  width: 150%;
}
.animalcardimg {
  width:  300px;
  height: 300px;
  object-fit: cover;
}